<section class="section">
   <div class="main-content">
<div class="class-1">
    <h1 class="padding-heading">Get <span>insights</span> that help your business grow</h1>
    <p class="padding-paragraph-class1">Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.</p>
    <div class="last-content-class1">
        <div class="numbers">
            <h1>10K+</h1>
            <h4>COMPANIES</h4>
        </div>
        <div class="numbers">
            <h1>314</h1>
            <h4>TEMPLATES</h4>
        </div>
        <div class="numbers">
            <h1>12M+</h1>
            <h4>QUERIES</h4>
        </div>
    </div>
</div>
<div class="class-2"></div>
   </div>
</section>
